.container {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
  height: 576px;
  width: 576px;
}

.grid {
  height: 34px;
  width: 34px;
  border: 1px solid black;
}

.hovered {
  background-color: black;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

button {
  font-size: large;
  font-weight: 700;
  padding: 10px;
  border-color: blueviolet;
  border-radius: 10px;
  box-shadow: inset;
}

.options {
  display: flex;
  gap: 15px;
}
