.container {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
  height: 576px;
  width: 576px;
}
/* nicely sets up the container for our "pixels" */

.pixel {
  height: 34px;
  width: 34px;
  border: 1px solid black;
}
/* formats the pixels of the grid */

.hovered {
  background-color: black;
}
/* a class to add when we hover over a pixel that turns it black */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
/* aligns all the content on the page */

button {
  font-size: large;
  font-weight: 700;
  padding: 10px;
  border-color: blueviolet;
  border-radius: 10px;
}
/* formats our buttons and makes them look nice */
